body{
    background-color: teal;
}
header{
    font-family: cursive;
    font-size: x-large;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
.gallery{
    display: flex;
    width: 1000px;
    margin:auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  figure{
    width: 200px;
    
    margin: 0;
    border: 1px solid transparent;
    padding: 8px;
    box-sizing: border-box;
    background-color: transparent;
  }
  figure img{
    width: 100%;

  }
  figure figcaption{
    text-align: center;
    padding: 8px 4px;
  }